version: '3'

services:
  task-db:
    image: michisig/tt-task-db:${version}
    container_name: task-db
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5


  task-service:
    image: michisig/tt-task-service:${version}
    container_name: task-service
    ports:
      - "8080:8080"
    depends_on:
      task-db:
        condition: service_healthy
